@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(255, 255, 255);
    --primary-color-darker: rgb(36, 36, 36);
}
/* rgb(205, 210, 247) */

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color-darker);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto !important;
    background: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.main-heading {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 56px;
    
}

.main-img {
    width: 300px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    font-size: 24px;
    height: 30px;
    padding: 0 20px;
    margin-right: 0;
}



input:focus {
    outline: 1px solid var(--primary-color);

}

.btn-tasks {
    border: none;
    background: var(--primary-color);
    color: #000;
    font-size: 25px;
    font-weight: 700;
    margin-left: -5px;
    cursor: pointer;
    border-radius: 2px;
    
}

.btn-tasks:hover {
    background: var(--primary-color-darker);
}

.del-btn, .del-btn img{
    background-color: #fff;
    border: none;
    max-width: 20px;
    padding: 0;
}

.del-btn img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out; 
}

ul {
    list-style: none;
}

#task {
    width: 80%;
}

table.tasks {
    table-layout: fixed;
}

table.tasks tr {
    border-bottom: none;
    width: 100%;
    overflow: hidden;
    
}
table.tasks td {
    text-align: center;

}